


.header {
height: 90px;
background: #F6F6F6;
border-bottom: 1px solid #E0E3E8;
}

.appName {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;

    color: #202223;
}

.logout {
color: #FB6B63;
}