
.login {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 536px;
    height: 482px;

    background: #FFFBF7;
    box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.12);
}

.bienvenue {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    /* identical to box height, or 20px */


    color: #202223;
}

.inputLogin {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    box-sizing: border-box;

    width: 289px;
    height: 32px;
    background: #FFFBF7;
    color: #48230F;
    border: 0.5px solid #48230F;
    border-radius: 6px;
}

.titleLogin {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;

    color: #48230F;
}

.buttonLogin {
    box-sizing: border-box;

    width: 286px;
    height: 34px;

    background: #48230F;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #FFFFFF;
}